* {
    margin:0;
    font-family:'Poppins', sans-serif;
    box-sizing:border-box;
    padding:0;
}

body{
    min-height: 100vh;
    background:linear-gradient(darkkhaki, palegoldenrod)
}

header{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding: 30px 100px;
    display:flex;
    justify-content: space-between;
    z-index:10000;
    align-items: center;
}
header.logo{
    color:#fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul{
    display:flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding:6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.aktiv{
    background: #fff;
    color:darkkhaki;
}

section{
    position: relative;
    width:100%;
    height:100vh;
    padding: 100px;
}

section img{
    position:absolute;
    top:0;
    width: 100%;
    left:0;
    height: 100%;
    object-fit: cover;
}

section img#Sand1{

}



/* { 
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans';
    box-sizing: border-box;
}
*/ /*
.first { /*Placeholder für parallax JPGS 
    background-color: rgba(40, 41, 40, 0.616);
    height: 100vh;
    width: 100vw; /*
/*.first {
    height: 100vh;
    width: 100%;
    background-image: url(../Portfolio/green_WP_Test.jpg);
    background-size: cover;
    background-position: center;
}*/
/*
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5.375vw;
    padding-left: 8%;
    padding-right: 8%;
    width:100vw;
}
.logo {
    color:rgb(22, 20, 20);
    font-size: 5vw;
    letter-spacing: 0.1vw;
    cursor: pointer;
}
span {
    color: #006600
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1.25vw 2.5vw;
    width:10vw;
}
nav ul li a{
    color:rgb(22, 20, 20);
    text-decoration: none;
    font-weight: 10vw;
    text-transform: capitalize;
    padding: 0.6vw 1.5vw;
    color:black;
    background-color: white;
    border-radius: 1vw;
    width:1vw;

}
nav ul li a:hover, nav ul li a.active{
    color: #006600;
    transition: 0.4s;
    background-color: beige;
}
nav a{
    color:rgb(22, 20, 20);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
.knopf{
    background-color: #006600;
    color:rgb(22, 20, 20);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.knopf:hover{
    transform: scale(1.2);
    color: greenyellow;
    transition: 0.4s;
}
.Text_a{
    position: absolute;
    top: 35%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color:rgb(22, 20, 20);
    margin: 20px 0px 20px;
    font-size: 6.25vw;
}
h3{
    color: rgb(22, 20, 20);
    font-size: 1.825vw;
    margin-bottom: 6.25vw;
}
h4{
    color: rgb(22, 20, 20);
    font-size: 2.5vw;
    letter-spacing: 2px;
}
    /* <---Newsletter---> */
/*
.Newsletter form{
    width:380px;
    max-width: 100%;
    position: relative;
}
.Newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border-radius: 30px;
    outline: none;
    border: 2px solid #006600;
}
.Newsletter form input:last-child{
    background-color: #006600;
    color: rgb(22, 20, 20);
    position: absolute;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px rgb(22, 20, 20) 0px 0px 15px rgb(133, 133, 133);
    top: 6px;
    right: 6px;
}

 /* <---About Me---> */
/*
.about_me{
    width: 100%;
    padding:100px 0px;
    background-color:rgb(133, 133, 133);
}
.about_me img{
    height: auto;
    width: 430px;
}

/* <---- CV ----> */
/*
:root {
  --primary-color: #fff;
  --background-color: #212121;
  --font: sans-serif;
}


/* Timeline Container */
/*
.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
}

/* Outer Layer with the timeline border */
/*
.outer {
  border-left: 2px solid #333;
}

/* Card container */
/*
.card {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
  background: #333;
  color: gray;
  border-radius: 8px;
  max-width: 400px;
}

/* Information about the timeline */
/*
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Title of the card */
/*
.title {
  color: orangered;
  position: relative;
}

/* Timeline dot  */
/*
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -39px;
  border: 3px solid orangered;
} 